# ignore IDE stuff
/.idea
/.vscode

# ignore python build artifacts
/dist/
/build/
__pycache__
*.egg-info

# ignore data artifacts (except for reference plots)
/data
!/data/plot_reference

# exclude build dir for sphinx-build, and generated sources for sphinx-apidoc
/docs/build/*
/docs/source/*
# but don't exclude manually configured sources
!/docs/source/conf.py
!/docs/source/index.md
!/docs/source/license.rst
!/docs/source/develop.md
